header{background-color: aqua;
display: flex;
    justify-content: space-between;
    position: fixed ;
    top: 0;
    right: 0;
    left: 0;
    
}
li{display: inline;
margin-right: 20px;}
a{text-decoration: none;}
img{margin-left: 20px;}
main{background-color: red;
margin: 70px 130px 40px;
padding: 30px;
border: 4px solid black;
box-shadow: 10px 10px 10px gold;}
article{border-bottom: 2px solid yellow;
margin-top: 15px;}
footer{padding: 20px;
background-color: bisque;
}
h1{text-align: center;}